
barterApp/barterApp.xcworkspace/xcuserdata/kevinmaldjian.xcuserdatad/UserInterfaceState.xcuserstate
barterApp/barterApp.xcworkspace/xcuserdata/kevinmaldjian.xcuserdatad/UserInterfaceState.xcuserstate
